@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.App a:link, .App a:visited, .App a:hover, .App a:active {
  text-decoration: none;
  color: inherit;
}

.App .btn-cyan {
  font-weight: 700;
  text-align: center;
  background-color: #2acfcf;
  color: white;
}

.App .btn-cyan:hover {
  cursor: pointer;
  background-color: #7ce4e4;
}

.App .btn-violet {
  font-weight: 700;
  text-align: center;
  background-color: #232127;
  color: white;
}

.App .get-started-btn {
  padding: 1em 2.5em;
  border-radius: 50px;
}

.App .shorten-btn {
  padding: 0.7em;
  border-radius: 5px;
}

.App .copy-btn {
  padding: 0.5em 1.5em;
  border-radius: 5px;
}

.App .sign-up-btn {
  width: 100%;
  padding: 1em 2em;
  border-radius: 50px;
}

.App .gray-text {
  color: #9e9aa7;
}

.App .logo {
  background-image: url("./images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100px;
  height: 50px;
}

.App .heading {
  font-weight: 700;
}

.App .header-container {
  background-color: white;
  padding-bottom: 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  overflow: hidden;
}

.App .header-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  width: 100%;
  max-width: 1000px;
  position: relative;
  padding: 1rem;
}

.App .header-container header .burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.App .header-container header .burger-btn:hover {
  cursor: pointer;
}

.App .header-container header .header-nav-container {
  width: 100%;
  padding: 1rem;
  position: absolute;
  background-color: #3b3054;
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  border-radius: 10px;
  visibility: hidden;
  font-weight: 700;
}

.App .header-container header .header-nav-container.visible {
  visibility: visible;
}

.App .header-container header .header-nav-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0;
}

.App .header-container header .header-nav-container > div:first-child {
  padding-bottom: 1rem;
  border-bottom: 1px solid #9e9aa7;
}

.App .header-container header .header-nav-container > div:last-child {
  padding-top: 1rem;
}

.App .header-container header .header-nav-container .header-nav {
  padding: 1rem;
}

.App .header-container header .header-nav-container .header-nav:hover {
  color: gray;
}

.App .header-container .hero-container {
  width: 100%;
  max-width: 1000px;
}

.App .header-container .hero-container .hero-img {
  height: 400px;
  background-image: url("./images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.App .header-container .hero-container .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  text-align: center;
  padding: 2rem 1rem;
}

.App .header-container .hero-container .intro-container .heading {
  font-size: 3em;
  line-height: 1.2em;
}

.App .shorten-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

.App .shorten-link-container .shorten-link-input-container {
  background-color: #3b3054;
  background-image: url("./images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 1rem;
}

.App .shorten-link-container .shorten-link-input-container .input-container input {
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  font-family: inherit;
}

.App .shorten-link-container .shorten-link-input-container .input-container .error-message {
  font-size: 0.8em;
  font-style: italic;
  color: #f46262;
  display: none;
}

.App .shorten-link-container .shorten-link-input-container .input-container.error input {
  border: 3px solid #f46262;
}

.App .shorten-link-container .shorten-link-input-container .input-container.error input::-webkit-input-placeholder {
  color: #f46262;
}

.App .shorten-link-container .shorten-link-input-container .input-container.error input:-ms-input-placeholder {
  color: #f46262;
}

.App .shorten-link-container .shorten-link-input-container .input-container.error input::-ms-input-placeholder {
  color: #f46262;
}

.App .shorten-link-container .shorten-link-input-container .input-container.error input::placeholder {
  color: #f46262;
}

.App .shorten-link-container .shorten-link-input-container .input-container.error .error-message {
  display: unset;
}

.App .shorten-link-container .shorten-link-output-container {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
}

.App .shorten-link-container .shorten-link-output-container .output-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0;
  background-color: white;
  border-radius: 5px;
  font-weight: 700;
}

.App .shorten-link-container .shorten-link-output-container .output-card .original-link {
  border-bottom: 1px solid #bfbfbf;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App .shorten-link-container .shorten-link-output-container .output-card .response {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.5rem;
}

.App .shorten-link-container .shorten-link-output-container .output-card .response .short-link {
  color: #2acfcf;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App .statistics-container {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  text-align: center;
  padding: 0 1rem;
}

.App .statistics-container .heading {
  font-size: 1.5em;
}

.App .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 3rem 0;
  padding: 0 1rem;
  position: relative;
}

.App .cards-container::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background-color: #2acfcf;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.App .cards-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 50px;
  text-align: center;
}

.App .cards-container .card .card-icon {
  height: 60px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-radius: 50%;
  background-color: #232127;
}

.App .cards-container .card .heading {
  font-size: 1.2em;
}

.App .boost-container {
  width: 100%;
  background-color: #3b3054;
  background-image: url("./images/bg-boost-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 3rem 1rem;
  text-align: center;
}

.App .boost-container .heading {
  font-size: 1.5em;
}

.App footer {
  width: 100%;
  background-color: #232127;
  color: white;
}

.App footer > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem 4rem;
}

.App footer > div:first-child .footer-nav-parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.App footer > div:first-child .footer-nav-parent-container .footer-nav-child-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
}

.App footer > div:first-child .footer-nav-parent-container .footer-nav-child-container a:hover {
  color: #2acfcf;
}

.App footer > div:first-child .footer-nav-parent-container .footer-nav-child-container .footer-navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.3rem;
}

.App footer > div:first-child .footer-nav-parent-container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.App footer > div:first-child .footer-nav-parent-container .socials a .social-logo {
  width: 20px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App footer > div:first-child .footer-nav-parent-container .socials a:nth-child(1) .social-logo {
  background-image: url("./images/icon-facebook.svg");
}

.App footer > div:first-child .footer-nav-parent-container .socials a:nth-child(2) .social-logo {
  background-image: url("./images/icon-twitter.svg");
}

.App footer > div:first-child .footer-nav-parent-container .socials a:nth-child(3) .social-logo {
  background-image: url("./images/icon-pinterest.svg");
}

.App footer > div:first-child .footer-nav-parent-container .socials a:nth-child(4) .social-logo {
  background-image: url("./images/icon-instagram.svg");
}

.App footer .attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}

.App footer .attribution a {
  color: #2acfcf;
}

.App footer .attribution a:hover {
  color: #22a5a5;
}

@media (min-width: 600px) {
  .App .header-container header {
    font-size: 0.7rem;
  }
  .App .header-container header .burger-btn {
    display: none;
  }
  .App .header-container header .header-nav-container {
    visibility: visible;
    position: unset;
    background-color: unset;
    color: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: unset;
  }
  .App .header-container header .header-nav-container > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .App .header-container header .header-nav-container > div:first-child {
    padding: unset;
    border: none;
  }
  .App .header-container header .header-nav-container > div:last-child {
    padding: unset;
  }
  .App .header-container header .header-nav-container .header-nav {
    color: #9e9aa7;
  }
  .App .header-container header .header-nav-container .header-nav:hover {
    color: #201f23;
  }
  .App .header-container .hero-container {
    position: relative;
  }
  .App .header-container .hero-container .hero-img {
    width: 100%;
    position: absolute;
    left: 60%;
    height: 100%;
  }
  .App .header-container .hero-container .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.5rem;
    width: 60%;
  }
  .App .header-container .hero-container .intro-container div {
    text-align: left;
  }
  .App .shorten-link-container .shorten-link-input-container {
    background-image: url("./images/bg-shorten-desktop.svg");
  }
  .App .shorten-link-container .shorten-link-output-container .output-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  .App .shorten-link-container .shorten-link-output-container .output-card .original-link {
    border: none;
    padding: unset;
  }
  .App .shorten-link-container .shorten-link-output-container .output-card .response {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
    padding: unset;
  }
  .App .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 50px;
  }
  .App .cards-container::before {
    top: 50%;
    left: 1rem;
    height: 5px;
    width: calc(100% - 2rem);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background-color: #2acfcf;
  }
  .App .boost-container {
    background-image: url("./images/bg-boost-desktop.svg");
  }
  .App footer > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .App footer > div:first-child .footer-nav-parent-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .App footer > div:first-child .footer-nav-parent-container .footer-nav-child-container {
    text-align: left;
  }
}
/*# sourceMappingURL=App.css.map */